/* @group Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Modified by @Marekje
*/
	* {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	
	body {
		line-height: 1;
	}
	
	ol, ul {
		list-style: none;
	}
	
	blockquote, q {
		quotes: none;
	}
	
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

/* @end */




/* GENERAL & TYPOGRAPHY*/
/* Stuff defining the page */
body {
	font-family: 'minion-pro', sans-serif;
	
	color: #451E00;
	background-color: #111111;
	background: #111111 url('images/textures/black-Linen.png') repeat left top;
}
#main {
	margin: 0.2em auto;
	padding: 0.5em 0 0.5em 1em;
	background: #EEEEEE url('images/textures/cream_dust.png') repeat left top;
	max-width: 30em;
	box-shadow: 0.1em 0.1em 0.1em white inset,
				-0.1em -0.1em 0.1em rgba(0, 0, 0, 0.5) inset,
				0.3em 0.3em 0.6em black;
	border-radius: 0.2em;
}

h1 {
	font-size: 1.7em;
	font-family: 'Minion Pro', serif;
	color: rgb(243, 196, 0);
	
	padding-top: 0.3em;
}

section, header, footer {
	margin: 0.2em;
	padding: 0.4em 0.2em;
}

/* Header & Footer */
header {
	margin: auto;
	max-width: 30em;
	margin-top: 1em;
	margin-bottom: 1em;
}
header h1 {
	color: rgb(246, 245, 223);
	font-size: 2.5em;
	font-family: 'baroque-text', georgia, serif;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5),
				 -1px -1px 1px rgba(0, 0, 0, 1);
}

header h2 {
	color: rgb(242, 218, 121);
	margin-left: 3em;
	font-size: 0.9em;
	font-style: italic;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5),
				 -1px -1px 1px rgba(0, 0, 0, 1);
}
footer {
	color: rgb(242, 218, 121);
	text-align: center;
	
	padding: 1em;
}


/* FORMS */
select {
	font-family: 'minion-pro', sans-serif;
	font-size: 1em;
}
input {
	font-size: 1em;
	font-family: 'minion-pro', sans-serif;
	border: none;
	padding: 0.2em;
	margin-left: 2%;
	margin-right: 5%;
	width: 30%;
	
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 0.2em;
	
	box-shadow: 0.1em 0.1em 0.2em rgba(91, 73, 0, 0.75) inset,
				-0.1em -0.1em 0.1em rgba(0, 0, 0, 0.1),
				0.1em 0.1em 0.1em white;
}
label, #goldcontent {
	font-style: italic;
	font-size: 1.1em;
}
#recipesection p.itembox, #benefitssection p.sellingpricebox{
	display: block;
	height: 2.2em;
	text-align: right;	
}

#goldcontent { /*Workaround to account for the lack of form in the golds*/
	padding-right: 37%;
	padding-top: 0.5em;
}

/* RESULTS OF THE CALCULATIONS */
.resultscontent {
	padding: 0.2em;
	text-align: left; 
}
.resultscontent h1 {
	color: rgb(139, 7, 0);
	font-family: 'baroque-text', georgia, serif;
}
.resultscontent h1:first-letter {
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1),
				 -1px -1px 1px rgba(0, 0, 0, 1);
	font-size: 2em;
}
.resultscontent h1, .resultscontent span.answer {
	display: inline-block;
}
.answer {
	color: rgb(139, 7, 0);
	font-size: 1.2em;
	padding-left: 0.5em;
	font-weight: bold;
	font-family: 'baroque-text', georgia, serif;
	text-shadow: 0.05em 0.05em 0.05em rgba(255, 255, 255, 1),
				 -0.05em -0.05em 0.05em rgba(0, 0, 0, 0.2);
}

/* DISPOSITION */
/* Stuff that changes the boxes, how it behaves. */

/* MEDIA QUERIES */
/* The site is made to accomodate all screens
The main part of the stylesheet is mobile-friendly, and we accomodate bigger screens afterwards */










